#content{
  padding: 34px;
}

.flex-container{
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-style: solid;
  border-color: gray;   
  background-color:#f3f3f3;
}

.container{
  display:flex;
  justify-content:center;
  color:grey;
  padding: 21px;
  margin: 0 -5px; 
}

#teamsBundesliga img{
  width: 2%;
  height: 2%;
}

#teamsPremierLeague{
  list-style-type: none;
  padding:2px;
}

#teamsPremierLeague img{
  width: 2%;
  height: 2%;
}

.footer{
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

button:hover{
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}